<!doctype html>
<html>
<head>
  <style>
    body {
    display: block;
    font-family:monospace;
    }
  </style>
</head>
   <body>
     <span style="color:red">{{ error }}</span>
     <p>
       <b>experiments.codybenlewis.com</b><br>
       <b>api.codybenlewis.com</b><br>
       <br>
       Cody Ben Lewis's Personal Server<br>
       <br>
       <b>Data:</b>
       <br>
       <a href="/spotify">Spotify</a><br>
       <!--
       <br>
       <b>Deprecated Projects:</b>
       <a href="/mbta">MBTA</a><br>
       <a href="/lights">Lights (Depticated Equipment in Bedroom)</a> 🔐<br>
       <a href="/soundboard">Soundboard</a><br> -->
    </p>
   </body>
</html>
