<!doctype html>
<html>
<head>
  <style>
    body {
    display: block;
    font-family:monospace;
    }
  </style>
</head>
   <body>
    <span style="color:red">{{ error }}</span>
     <p>
      <b>URL Format:</b> api.codybenlewis.com/lights/state<br>
      <br>
      <b>Quick Links:</b>
      <br>
      <a href="/lights/on?password={{ key }}">On</a><br>
      <a href="/lights/off?password={{ key }}">Off</a><br>
      <a href="/lights/invert?password={{ key }}">Invert</a><br>
    </p>
  </body>
</html>
