<!doctype html>
<html>
<head>
  <style>
    body {
    display: block;
    font-family:monospace;
    }
  </style>
</head>
  <body>
  <b>Game Show Music:</b><br>
  👰 <a href="https://www.youtube.com/watch?v=UvulxN8hY6o">The Newly Wed Game</a><br>
  <br>
  <b>That Don't Impress Me Much:</b><br>
  🚀 <a href="https://soundcloud.com/shania-twain-music/that-dont-impress-me-much-1#t=0:39">You're a rocket scientist</a><br>
  👨 <a href="https://soundcloud.com/shania-twain-music/that-dont-impress-me-much-1#t=1:33">You're Brad Pitt</a><br>
  🚗 <a href="https://soundcloud.com/shania-twain-music/that-dont-impress-me-much-1#t=2:34">You got a car</a><br>
  <br>
  <b>Sound Effects:</b><br>
  📣 <a href="https://www.youtube.com/watch?v=OFr74zI1LBM">DJ Air Horn</a><br>
  🚪 <a href="https://youtu.be/hxVQ9rhjyTY?t=5s">AIM Sounds</a><br>
  <br>
  <b>Craig Ferguson:</b><br>
  🐎 <a href="https://youtu.be/_B-CCX4ff64?t=10s">Who's That At The Door</a>
  </body>
</html>
